@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
	--bg-primary: #0c151b;
    --header-color: #0D0D0D;
	--footer-color: #0D0D0D;
	
    /* texts */
    --text-blue: #009DFF;
    --header-text-light: #F4F5F7;
    --text-description: #DFE1E6;
    --title-light: #FFFFFF;
    --title-dark: #14242E;

	--button: #0089F;
	--line: #CEF6FE;
}

.markdown h1 {
    @apply text-2xl font-bold;
}
.markdown p {
    @apply text-base;
}

.featured-post:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: cover;
    opacity: 1; /* Ajuste a transparência conforme necessário */
}

.multi-line-ellipsis {
    display: -webkit-box;
    -webkit-line-clamp: 2; /* Número de linhas que você deseja */
    -webkit-box-orient: vertical;  
    overflow: hidden;
    text-overflow: ellipsis;
  }

.gray {
    color: #656565
}

.secundaryColor,
.secundaryColor h1,
.secundaryColor h2,
.secundaryColor h3,
.secundaryColor h4,
.secundaryColor h5,
.secundaryColor h6  {
    color: #1C1C1C;
}