@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
	--bg-primary: #0c151b;
    --header-color: #0D0D0D;
	--footer-color: #0D0D0D;
	
    /* texts */
    --text-blue: #009DFF;
    --header-text-light: #F4F5F7;
    --text-description: #DFE1E6;
    --title-light: #FFFFFF;
    --title-dark: #14242E;

	--button: #0089F;
	--line: #CEF6FE;
}

.markdown h1 {
    @apply text-2xl font-bold;
}
.markdown p {
    @apply text-base;
}

.featured-post:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: cover;
    opacity: 1; /* Ajuste a transparência conforme necessário */
}

.featured-post-bg:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: cover;
    opacity: 0.2; /* Ajuste a transparência conforme necessário */
    z-index: -1; /* Coloca o pseudoelemento atrás do conteúdo */
}